.text-indigo-400,
.text-indigo-500 {
  color: #8b0387;
}

.text-indigo-400:hover,
.hover\:text-indigo-400,
.hover\:text-indigo-400:hover {
  color: #8b0387 !important;
}

.bg-indigo-500,
.bg-indigo-600,
.wallet-adapter-button-trigger {
  background-color: #8b0387 !important;
}

.bg-indigo-500:hover,
.bg-indigo-600:hover,
.wallet-adapter-button-trigger:hover {
  background-color: #8b0387 !important;
}

.from-indigo-900\/50 {
  --tw-gradient-from: #830064;
}
